@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1220px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-5 outline-none hover:scale-105;
}

.section-title {
  @apply md:text-[3rem] text-[1.5rem] text-center font-bold;
}
.vertical-text{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.loading-bar{
  height: 100%;
  transition: width 0.5s ease-in-out;
  background-color: #b29c5b;
}
/* END: General styles */

/* Hero Styles */

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 w-full h-[80vh] bg-black text-white;
}

.hero__title {
  @apply text-[2.5rem] md:text-[4rem] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] font-light mt-5;
}

.hero__bg-container {
  @apply h-screen w-full bg-fixed;
}

.hero__black-overlay {
  @apply absolute h-full w-full z-20 bg-gradient-to-t from-[rgba(0,0,0,0.2)] to-[rgba(0,0,0,0.6)];
}

.hero__image {
  @apply w-full h-full z-0;
}

.image-slideshow{
  @apply m-auto w-full h-full relative overflow-hidden bg-fixed bg-no-repeat bg-center bg-cover;
}

.slides{
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
}

/* Catalog Section */

.catalog{
  @apply relative h-fit bg-white w-full pt-[1rem] pb-[1rem];
}

.condo-description{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
